<h1 class="text-center">Welcome to the Food Logger</h1>
<h2 class="text-center">Use this tool to log your food intake by meal type, 
    food, and mood.</h2>
<h3 class="text-center">We often find ourselves a bit anxious or stressed and 
    either confuse those feelings with hunger or feel the need to eat. Food Logger's simple design
    is for the users to be able to log their meals and
    associate the way they felt while having that meal.
    Eventually the users will be able to identify a pattern
    in the way they eat on a regular basis.</h3>