<body>
    <h1>Log Your Food</h1>
    <h2>You will now log your food by choosing the type of meal, food your are eating, and mood.</h2>

<form method="POST" action="/foods/logs">
    <label for="meal">Meal:</label>
    <input type="text" id="meal" name="meal"</input>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age"</input>
    <label for="food">Food:</label>
    <input type="text" id="food" name="food"</input>
    <label for="mood">Mood:</label>
    <input type="text" id="mood" name="mood"</input>
    <input type="submit" value="Submit"></input>
</form>

</body>
